*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    min-width: 300px;
}

.header{
    height: 30vh;
    background-color: rgb(15, 115, 173);
    padding: 2rem 3rem;
    text-align: center;
    color: white;
}

.heading{
    margin-bottom: 1rem;
}

.the-input{
    width: 70%;
    padding: 1rem;
}

.add-btn{
    width:25%;
    background-color: #cecece;
    color: black;
    padding: 1rem;
    padding-right: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    font-weight: 500;
}

.add-btn:hover{
    background-color: white;
}

.lists{
    height: 70vh;
    background-color: #f4f4f4;
}

.the-list{
    list-style-type: none;
    cursor: pointer;
}

.the-list li{
    position: relative; 
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    user-select: none;
}

.the-list li:hover{
    background-color: #ddd;
}

.close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 15px 10px 15px;
}

.close:hover{
    background-color: #f43c2f;
}



@media(max-width:400px){

    .the-input{
        width: 50vw;
        padding: 0.5rem;
    }
    
    .add-btn{
        width:10vw;
        background-color: #cecece;
        color: black;
        padding: 0.5rem;
        text-align: center;
        cursor: pointer;
        border-radius: 2px;
        font-weight: 300;
    }

    
.the-list li{
    position: relative; 
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    user-select: none;
}

.the-list li:hover{
    background-color: #ddd;
}

.close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 15px 10px 15px;
}

.close:hover{
    background-color: #f43c2f;
}
}